<nav class="navbar">
    <div class="logo">
      <i class="fas fa-chart-line"></i> SmartFin Recommender
    </div>
    <ul class="nav-links">
      <li>
        <a routerLink="/investment" routerLinkActive="active">
          <i class="fas fa-piggy-bank"></i> Invest Now
        </a>
      </li>
      <li>
        <a routerLink="/loans" routerLinkActive="active">
          <i class="fas fa-hand-holding-usd"></i> Loan Suggestions
        </a>
      </li>
      <li>
        <a routerLink="/personalization" routerLinkActive="active">
          <i class="fas fa-chart-bar"></i> Trade Stocks
        </a>
      </li>
      <li>
        <a routerLink="/profile" routerLinkActive="active">
          <i class="fas fa-user-circle"></i> Profile
        </a>
      </li>
    </ul>
  </nav>
  