<nav class="navbar">
  <div class="logo">
    <a routerLink="/home" routerLinkActive="active">
      <i class="fas fa-chart-line"></i> SmartFin Recommender
   </a>
  </div>
  <ul class="nav-links">
    
    <li>
      <a routerLink="/investment" routerLinkActive="active">
        <i class="fas fa-piggy-bank"></i> Invest Now
      </a>
    </li>
    <li>
      <a routerLink="/loans" routerLinkActive="active">
        <i class="fas fa-hand-holding-usd"></i> Loan Suggestions
      </a>
    </li>
    <li>
      <a routerLink="/credit" routerLinkActive="active">
        <i class="fas fa-credit-card"></i> Credit Card Suggestions
      </a>
      
    </li>
    <li>
      <a routerLink="/personalization" routerLinkActive="active">
        <i class="fas fa-chart-bar"></i> Knowledge Center
      </a>
    </li>
    <div class="profile-dropdown" (click)="toggleDropdown()">
      <span>{{ customerId }}</span>
      <i class="fas fa-user"></i>
    
      <ul class="dropdown-menu" *ngIf="isDropdownOpen">
        <li (click)="viewProfile()">View Profile</li>
        <li (click)="logout()">Logout</li>
      </ul>
    </div>
  
  </ul>
</nav>



